<section class="po-row">
  <app-card  class="po-md-3 po-lg-3"
  Titulo='Receita'
  [Valor]=500
  ></app-card>
  <app-card  class="po-md-3 po-lg-3"
  Titulo='Despesa'
  [Valor]=500
  ></app-card>
  <app-card  class="po-md-3 po-lg-3"
  Titulo='Final'
  [Valor]=500
  ></app-card>
</section>

<section class="po-row">
  <po-tag
    p-value="Mês" >
  </po-tag>
  <po-tag
    p-value="no Ano" >
  </po-tag>
  <po-tag
    p-value="Filtro por período" >
  </po-tag>
</section>

<!-- (p-click)="EventEmitter"
p-color="string"
p-icon="boolean | string"
p-inverse="boolean"
p-label="string"
p-orientation="PoTagOrientation"
p-type="PoTagType"
p-value="string" > -->
