<section class="po-row po-mb-2" >
    <app-card *ngFor="let painel of Paineis"
      class="po-md-3 po-lg-3"
      [Titulo]='painel.nome'
      [Valor]='painel.valor'
    ></app-card>
</section>

<section class="po-row rowFilter">
  <div class="po-md-9 po-sm-12 po-mb-2 ">
    <po-tag
      class="po-mr-2"
      p-value="Mês"
      (p-click)="filterMov(1)">
    </po-tag>
    <po-tag class="po-mr-2"
      p-value="no Ano"
      (p-click)="filterMov(2)">
    </po-tag>
    <po-tag
      p-icon="po-icon-calendar"
      p-value="Filtro por período"
      (p-click)='modalFilterPeriod.open()'>
    </po-tag>
  </div>
  <div class="po-md-3 po-sm-12 po-mb-2 ">
    <po-button class="po-md-12"
      p-label='Incluir'
      [p-small]=true
      p-type='primary'
      (p-click)='mov.md.open()'
      ></po-button>
  </div>
</section>

<section>
  <div class="lista-columns">
    <p class="po-md-3">Data</p>
    <p class="po-md-3">Descrição</p>
    <p class="po-md-3">Tipo</p>
    <p class="po-md-3">Valor</p>
  </div>
  <div class="lista-columns-divider po-mb-1"></div>
  <Div *ngIf="Movimentos$ | async as items" >
    <app-list-item *ngFor="let item of items"
      [data]='item.data.data'
      [nome]='item.data.nome'
      [descricao]='item.data.descricao'
      [categoria]='item.data.categoria'
      [tipo]='item.data.tipo'
      [valor]='item.data.valor'
    ></app-list-item>
  </Div>
</section>

<po-modal #modalFilterPeriod
  p-title='Filtro por período'>
  <form #dateFilterForm="ngForm">
    <po-datepicker
      class="po-md-6"
      name="startDate"
      [(ngModel)]="filterDateFrom"
      p-clean
      p-format="dd/mm/yyyy"
      p-label="Data início"
      p-required=true
      [p-max-date]="filterDateTo">
    </po-datepicker>
    <po-datepicker
      class="po-md-6"
      name="endDate"
      [(ngModel)]="filterDateTo"
      p-clean
      p-format="dd/mm/yyyy"
      p-label="Data fim"
      p-required=true
      [p-min-date]="filterDateFrom">
    </po-datepicker>
    <po-button
      class="po-md-12 po-mt-2 po-mb-2"
      p-label='Aplicar'
      (p-click)='getMovimentos(dateFilterForm.value.startDate, dateFilterForm.value.endDate) ; modalFilterPeriod.close()'
      [p-disabled]="!!!dateFilterForm.valid"
      >
    </po-button>
  </form>
</po-modal>

<app-movimento-add #mov></app-movimento-add>
