<section class="po-row po-mb-2">
  <app-card  class="po-md-3 po-lg-3"
  Titulo='Investimento'
  [Valor]=500
  ></app-card>
  <app-card  class="po-md-3 po-lg-3"
  Titulo='Receita'
  [Valor]=500
  ></app-card>
  <app-card  class="po-md-3 po-lg-3"
  Titulo='Despesa'
  [Valor]=500
  ></app-card>
  <app-card  class="po-md-3 po-lg-3"
  Titulo='Final'
  [Valor]=500
  ></app-card>
</section>

<section class="po-row po-mb-2">
  <po-tag class="po-mr-2"
    p-value="Mês" >
  </po-tag>
  <po-tag class="po-mr-2"
    p-value="no Ano" >
  </po-tag>
  <po-tag
		p-icon="po-icon-calendar"
    p-value="Filtro por período" >
  </po-tag>
</section>

<!-- (p-click)="EventEmitter"
p-color="string"
p-icon="boolean | string"
p-inverse="boolean"
p-label="string"
p-orientation="PoTagOrientation"
p-type="PoTagType"
p-value="string" > -->

<section>
  <div class="lista-columns">
    <p>Data</p>
    <p>Descrição</p>
    <p>Tipo</p>
    <p>Valor</p>
  </div>
  <div class="lista-columns-divider po-mb-1"></div>
  <Div *ngIf="Movimentos$ | async as items" >
    <app-list-item *ngFor="let item of items"
      [data]='item.data.data'
      [nome]='item.data.nome'
      [descricao]='item.data.descricao'
      [categoria]='item.data.categoria'
      [tipo]='item.data.tipo'
      [valor]='item.data.valor'
    ></app-list-item>
  </Div>
</section>
