<po-modal #modalCategoria p-title="Nova Categoria"
>
  <form [formGroup]="categoriaForm">

   <po-input
      class="po-md-12"
      formControlName="nome"
      p-icon="po-icon-plus-circle"
      p-label="Nome"
    >
    </po-input>
    <po-radio-group
      class="po-md-12"
      formControlName="operacao"
      p-label="Operação"
      [p-options]="operacoes"
      [p-columns]="4"
      [p-required]=true
    >
    </po-radio-group>
    <po-button class="po-md-12 po-mb-2" p-label="Cadastrar" p-type='primary' [p-disabled]="!categoriaForm.valid" (p-click)="confirmAdd(categoriaForm.value)" > </po-button>
  </form>
</po-modal>
