<po-widget>
  <Section class="list">
    <div class="verticalCenter">
      <span class="po-icon po-icon-calendar "></span>
      <p class="po-ml-1">{{data | date}}</p>
    </div>
    <div class="border po-mr-2 po-ml-2"></div>
    <div class="">
      <p class="po-font-text-large-bold">{{nome}}</p>
      <p class="mobile">{{descricao}}</p>
    </div>
    <div class="border po-mr-2 po-ml-2"></div>
    <div>
      <p>{{categoria}}</p>
      <p>{{tipo}}</p>
    </div>
    <div class="border po-mr-2 po-ml-2"></div>
    <div class="verticalCenter">
      <p class="po-font-text-large-bold po-ml-1">{{valor | currency}}</p>
    </div>
  </Section>
</po-widget>
